<% provide(:title, "Contact") %>

<div class="container">
  <h1>Contact</h1>
  <p>
    Contact help on the Ruby on Rails tutorial at the
    <a href="http://www.railstutorial.org/#contact">Rails Tutorial</a>. 
  </p>
</div>